name: Release

on:
  push:
    tags:
      - "*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body: |
            **Changes:**
            - Change 1
            - Change 2
            
            **Important notes:**
            Why is this important
          draft: true
          generate_release_notes: true
