name: Validate

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request: ~
  schedule:
    - cron: "0 0 * * 6"

permissions:
  contents: read

jobs:
  hacs:
    name: HACS validation
    runs-on: ubuntu-latest
    steps:
      - name: Run HACS validation
        uses: hacs/action@main
        with:
          category: integration

  hassfest:
    name: Hassfest validation
    runs-on: ubuntu-latest
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v6

      - name: Run hassfest validation
        uses: home-assistant/actions/hassfest@master
